:host {
  flex: 1 1 100%;
}

table {
  width: 100%;
}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  width: 18rem;
}

mat-slider {
  width: 100%;
}

.range-label {
  padding: 0;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  justify-content: space-between;

  li {
    padding: 0;
    margin: 0;
    max-width: 33%;
    flex: 1 0 auto;
    font-size: 0.8rem;
  }

  li:first-child {
    text-align: left;
  }

  li:last-child {
    text-align: right;
  }
  li:not(:first-child):not(:last-child) {
    text-align: center;
  }
}
