<mat-expansion-panel expanded="{{ building$ }}" class="scrollableExpansion">
  <mat-expansion-panel-header class="mat-child-overflow">
    <mat-panel-title>
      {{ building$.BLDG_NAME ? building$.BLDG_NAME : building$.Short_Name }}
    </mat-panel-title>
  </mat-expansion-panel-header>
  <ng-template matExpansionPanelContent>
    <div *ngIf="building$.reportlink">
      <a href="{{ building$.reportlink }}" target="_blank">
        Report Link
      </a>
    </div>
    <ng-container *ngFor="let obj of building$ | keyvalue">
      <div>{{ obj.key }}: {{ obj.value }}</div>
    </ng-container>
  </ng-template>
</mat-expansion-panel>
