[submodule "CEVAC_python"]
	path = CEVAC_python
	url = https://github.com/bmeares/CEVAC_python.git
[submodule "Facilities_python"]
	path = Facilities_python
	url = git@fmo14:/srv/git/Facilities_python.git
