<mat-expansion-panel expanded="{{ alerts.length > 0 }}">
  <mat-expansion-panel-header style="overflow: visible">
    <mat-panel-title
      style="overflow: visible"
      matBadge="{{ alerts.length }}"
      matBadgeOverlap="false"
      matBadgePosition="above before"
      matBadgeHidden="false"
    >
      Alerts
    </mat-panel-title>
    <mat-panel-description> </mat-panel-description>
  </mat-expansion-panel-header>
  <ng-template matExpansionPanelContent>
    <mat-action-list dense>
      <button mat-list-item *ngFor="let alert of alerts" (click)="focus(alert)">
        <mat-icon mat-list-icon color="warn">{{ alert.AlertType }}</mat-icon>
        <h5 mat-line>{{ alert.AlertMessage }}</h5>
        <p mat-line>{{ alert.BLDG }}</p>
      </button>
    </mat-action-list>
  </ng-template>
</mat-expansion-panel>
