<mat-expansion-panel
  expanded="{{ (alerts$ | async)?.length > 0 }}"
  class="scrollableExpansion"
>
  <mat-expansion-panel-header>
    <mat-panel-title
      matBadge="{{ (alerts$ | async)?.length }}"
      matBadgeOverlap="false"
      matBadgePosition="above before"
      matBadgeHidden="false"
    >
      Alerts
    </mat-panel-title>
    <mat-panel-description> </mat-panel-description>
  </mat-expansion-panel-header>
  <ng-template matExpansionPanelContent>
    <mat-action-list dense>
      <button
        mat-list-item
        *ngFor="let alert of alerts$ | async"
        (click)="focus(alert)"
      >
        <mat-icon matListIcon [ngStyle]="getAlertColor(alert.AlertType)">
          <ng-container [ngSwitch]="alert.AlertType">
            <ng-container *ngSwitchCase="'alert'">
              warning
            </ng-container>
            <ng-container *ngSwitchCase="'warning'">
              notification_important
            </ng-container>
          </ng-container>
        </mat-icon>
        <h5 mat-line>{{ alert.AlertMessage }}</h5>
        <p mat-line>{{ alert.BuildingDName }}</p>
      </button>
    </mat-action-list>
  </ng-template>
</mat-expansion-panel>
