<mat-expansion-panel
  expanded="{{ (alerts$ | async)?.length > 0 }}"
  class="scrollableExpansion"
>
  <mat-expansion-panel-header class="center-header">
    <mat-panel-title>
      Alerts
    </mat-panel-title>
    <mat-chip-list class="flex-auto" multiple="true">
      <mat-chip
        color="warn"
        *ngIf="critical$ | async as critical"
        [selected]="critD"
        (selectionChange)="changeSelected($event)"
        (click)="critD = !critD"
      >
        Critical: {{ critical.length }}
      </mat-chip>
      <mat-chip
        color="accent"
        selected
        *ngIf="noncritical$ | async as noncritical"
        [selected]="noncritD"
        (selectionChange)="changeSelected($event)"
        (click)="noncritD = !noncritD"
      >
        Warning: {{ noncritical.length }}
      </mat-chip>
    </mat-chip-list>
  </mat-expansion-panel-header>
  <ng-template matExpansionPanelContent>
    <mat-action-list dense>
      <ng-container *ngIf="critD">
        <button
          mat-list-item
          *ngFor="let alert of critical$ | async"
          (click)="focus(alert)"
        >
          <mat-icon matListIcon [ngStyle]="getAlertColor(alert.AlertType)">
            warning
          </mat-icon>
          <h5 mat-line>{{ alert.AlertMessage }}</h5>
          <p mat-line>{{ alert.BuildingDName }}</p>
        </button>
      </ng-container>
      <ng-container *ngIf="noncritD">
        <button
          mat-list-item
          *ngFor="let alert of noncritical$ | async"
          (click)="focus(alert)"
        >
          <mat-icon matListIcon [ngStyle]="getAlertColor(alert.AlertType)">
            notification_important
          </mat-icon>
          <h5 mat-line>{{ alert.AlertMessage }}</h5>
          <p mat-line>{{ alert.BuildingDName }}</p>
        </button>
      </ng-container>
    </mat-action-list>
  </ng-template>
</mat-expansion-panel>
