<mat-sidenav-container>
  <mat-sidenav
    mode="side"
    opened="true"
    disableClose="false"
    fixedInViewport="false"
  >
    <mat-accordion multi="true" class="flex-col filler flex-align-stretch">
      <app-controlbox></app-controlbox>
      <router-outlet></router-outlet>
    </mat-accordion>
  </mat-sidenav>
  <mat-sidenav-content>
    <div id="map"></div>
  </mat-sidenav-content>
  <mat-sidenav
    mode="side"
    position="end"
    opened="true"
    disableClose="true"
    fixedInViewport="false"
  >
    <mat-accordion multi="true" class="flex-col filler flex-just-sb">
      <app-alertbox></app-alertbox>
    </mat-accordion>
  </mat-sidenav>
</mat-sidenav-container>
