<mat-sidenav-container style="height:100%">
  <mat-sidenav
    mode="side"
    opened="true"
    disableClose="false"
    fixedInViewport="false"
  >
    <div class="sidenav-column">
      <app-controlbox></app-controlbox>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div id="map"></div>
  </mat-sidenav-content>
  <mat-sidenav
    mode="side"
    position="end"
    opened="true"
    disableClose="true"
    fixedInViewport="false"
  >
    <mat-accordion multi="true" class="flex-col filler flex-just-sb">
      <app-alertbox
        class="flex-col"
        style="min-height: 0%; flex: 1 1 0%;"
      ></app-alertbox>
      <router-outlet></router-outlet>
    </mat-accordion>
  </mat-sidenav>
</mat-sidenav-container>
