mat-toolbar {
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  justify-content: space-between;
}

toolbarStart {
  display: flex;
  justify-content: flex-start;
  flex: 1 1 100%;
}

toolbarCenter {
  display: flex;
  justify-content: center;
  flex: 1 1 100%;
}

toolbarEnd {
  display: flex;
  justify-content: flex-end;
  flex: 1 1 100%;
}

mat-sidenav-container {
  height: 100%;
}
