<mat-toolbar color="primary" class="mat-elevation-z1 flex-none">
  <div class="toolbarStart"></div>
  <div class="toolbarCenter"><h1>Clemson Campus Overview</h1></div>
  <div class="toolbarEnd">
    <button
      mat-icon-button
      [matMenuTriggerFor]="alerts"
      style="margin-right:1rem"
    >
      <mat-icon>error</mat-icon>
    </button>
    <mat-menu #alerts="matMenu" xPosition="before">
      TODO: put alerts here
    </mat-menu>
    <button mat-raised-button (click)="menu.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
  <mat-sidenav #menu mode="over" position="end">End Content</mat-sidenav>
</mat-sidenav-container>
