<mat-card>
  <mat-card-title>Building Statistics</mat-card-title>
  <mat-radio-group
    class="flex-col"
    name="dataSet"
    [(ngModel)]="dataSet"
    (change)="(update)"
    aria-labelledby="control-label"
  >
    <ng-container *ngFor="let dataSet of dataSets">
      <mat-radio-button
        *ngIf="dataSet.display"
        [value]="dataSet"
        [disabled]="!dataSet.active"
      >
        {{ dataSet.name }}
      </mat-radio-button>
    </ng-container>
  </mat-radio-group>
</mat-card>
