<mat-card>
  <mat-card-title>Building Statistics</mat-card-title>
  <mat-card-content>
    <mat-radio-group
      class="flex-col"
      name="dataSet"
      [(ngModel)]="this.mapdataService.dataSet"
      (change)="(update)"
      aria-labelledby="control-label"
    >
      <ng-container *ngFor="let cat of categories; last as last">
        <h3>{{ cat }}</h3>
        <ng-container *ngFor="let measure of dataSets">
          <mat-radio-button
            *ngIf="measure.display && measure.category === cat"
            [value]="measure"
            [disabled]="!measure.active"
          >
            {{ measure.name }}
          </mat-radio-button>
        </ng-container>
        <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
      </ng-container>
    </mat-radio-group>
  </mat-card-content>
</mat-card>
