<mat-card>
  <mat-card-title>Building Statistics</mat-card-title>
  <mat-radio-group
    class="flex-col"
    name="dataSet"
    [(ngModel)]="dataSet"
    (change)="(update)"
    aria-labelledby="control-label"
  >
    <ng-container *ngFor="let dataSet of dataSets">
      <mat-radio-button
        *ngIf="dataSet.display"
        [value]="dataSet"
        [disabled]="!dataSet.active"
      >
        {{ dataSet.name }}
      </mat-radio-button>
      <ng-container *ngFor="let subMeas of dataSet.subMeasures">
        <mat-radio-button
          *ngIf="subMeas.display"
          [value]="subMeas"
          [disabled]="!dataSet.active"
          style="padding-left:2em"
        >
          {{ subMeas.name }}
        </mat-radio-button>
      </ng-container>
    </ng-container>
  </mat-radio-group>
</mat-card>
